@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

p{
    size: 20px;
}
body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

body.new-body {
    background: #620976;
    color: #ffffff;
}



.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}


.navigation a {
    position: relative;
    font-size: 1.5em;
    color: #ffffff;
    text-decoration: none;
    margin-left: 40px;
}


.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation a:hover::after {
    transform-origin: right;
    transform: scaleX(1);
}


.navigation .BtnLogin-popup {
    width: 130px;
    height: 50px;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
    margin-left: 40px;
    transition: 0.5s;

}


.navigation .BtnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.wrapper {
    padding: 10px 10px;
    width: 800px;
    transition: .5s;
}

.wrapper.wr-non-active {
    transform: scale(0);
}

.timerDisplay {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 50px;
    padding: 15px;
    border: none;
    transition: transform .5s;
}

.timerDisplay.activeTimer {
    transform: translateY(200px) scale(2);

}

.timerDisplay .display-row {
    display: flex;
    flex-direction: column;
}

.timerDisplay .display-row input {
    width: 120px;
    text-align: center;
    height: 70px;
    font-size: 4rem;
    border: 1px groove #00f6ff;
    border-radius: 10px;
    outline: none;
    background: transparent;
    color: #fff;
    /* border-color: #05ff2b #05ff2b #00f7c9 #00f7c9; */
    box-shadow: 0 0 10px 0px #0a0a0a;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.timerDisplay .display-row input:focus {
    border: 5px groove orange;
}


.timerDisplay .display-row span {
    margin-top: 10px;
    color: #00f6ff;
    font-size: 1.5rem;
}


.inputButtons {
    text-align: center;
    /* padding: 1; */
    transition: transform 1s;
}

.inputButtons.non-active {
    transform: translateY(300px) scale(0);
}

.inputButtons .inputRow {
    margin-block: 5px;
}

.inputRow button {
    width: 75px;
    height: 75px;
    border: none;
    outline: none;
    border-radius: 50%;
    background: #1c1c1c;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    box-shadow: -7px 9px 15px 0px rgb(0 0 0);
    cursor: pointer;
    margin-inline: 10px;
}

.inputRow button:empty {
    display: none;

}

.inputRow .btndelete ion-icon {
    vertical-align: middle;
}

.inputRow button:active {
    transform: translate(2px, 2px);
}


.btnGroup {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnGroup button {
    width: 15%;
    padding: 1px;
    border-radius: 10px;
    border: 5px groove;
    outline: none;
    font-size: 1.5rem;
    font-weight: 700;
    background: #1c1c1c;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    box-shadow: -7px 2px 5px 0px rgb(0 0 0);
    cursor: pointer;
    margin-inline: 10px;
}

.msg-wrapper {
    position: absolute;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.msg-wrapper.active {
    display: flex;
    transform: scale(1);
}

h1 {
    font-size: 10rem;
    transform: scale(0);
    transition: transform 1s;
}

h1.active {
    animation-name: msg;
    animation-duration: 2s;
    transform: scale(1);
}

@keyframes msg {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(0.25);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }

}

.msg-back-btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 20px 30px;
    width: 200px;
    background: transparent;
    outline: none;
    border: none;
}

.msg-back-btn span {
    font-size: 48px;
    color: #fff;
}


/* Default styles for larger screens */
/* ... Your existing styles ... */

/* Media query for smaller screens */
@media (max-width: 768px) {
    .timerDisplay {
        flex-direction: column; /* Stack timer elements vertically on smaller screens */
        align-items: center; /* Center align timer elements */
        margin-bottom: 15%; /* Reduce margin for spacing */
    }

    .timerDisplay .display-row input {
        width: 70px; /* Reduce width of input elements */
        height: 50px; /* Reduce height of input elements */
        font-size: 1rem; /* Reduce font size for input elements */
    }

    .inputButtons .inputRow {
        margin-block: 2px; /* Reduce spacing between button rows */
    }

    .inputRow button {
        width: 50px; /* Reduce width of buttons */
        height: 50px; /* Reduce height of buttons */
        font-size: 0.5rem; /* Reduce font size for buttons */
        margin-inline: 5px; /* Reduce margin between buttons */
    }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
    .timerDisplay .display-row input {
        width: 70px; /* Further reduce width of input elements */
        height: 50px; /* Further reduce height of input elements */
        font-size: 1rem; /* Further reduce font size for input elements */
    }

    .inputRow button {
        width: 40px; /* Further reduce width of buttons */
        height: 40px; /* Further reduce height of buttons */
        font-size: 0.5rem; /* Further reduce font size for buttons */
        margin-inline: 3px; /* Further reduce margin between buttons */
    }
}
